body {
    background-color: #247F4F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    color: #ffff;
}

header {
    padding: 20px;
    display: inline-flex;
    width: 100%;
}

.logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.menu-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 0 15px 0 15px;
}

.menu-item {
    padding: 5px 20px;
    font-weight: bold;
    text-decoration: none;
    color: #ffff;
}

.container {
    padding-left: 20px;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 4fr 2fr;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;

}

.input-area {
    display: inline-block;
    margin: 10px;
    width: 80%;
    padding-top: 25px;
    
}
.output-area {
    display: inline-block;
    background-color: #ffff;
    text-align: center;
    height: 500px;
    align-items: center;
}

.img-qr {
    margin: 25px auto;
    width: fit-content;
    height: fit-content;
    
 }

 #download-button {
    font-size: 24px;
    background-color: #8bc34a;
    border-color: #8bc34a;
    padding: 0.5rem 0.75rem;
    border-radius: 2px;
    vertical-align: middle;
    text-decoration: none;
    color: #ffff;

 }

#inputUrl {
    width: 70%;
    border: 1px solid #ffff;
    border-radius: 0;
    border-bottom: 1px solid rgba(0,0,0,.05);
    padding: 0.375rem 0.75rem;
}

#generate-button {

}

label {
    font-size: 80%;
    font-weight: 700;
    margin-bottom: 0;
    color: #6f787f;
}
