body {
    background-color: #247F4F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    color: #ffff;
}

header {
    padding: 20px;
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
}

.logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px 0 15px;
}

.menu-item {
    padding: 5px 20px;
    font-weight: bold;
    text-decoration: none;
    color: #ffff;
}

.box {
    padding-left: 20px;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 4fr 2fr;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;

}

.input-area {
    display: inline-block;
    padding-top: 25px;
    
}
.output-area {
    display: inline-block;
    background-color: #ffff;
    text-align: center;
    height: 500px;
    align-items: center;
}

.img-qr {
    margin: 25px auto;
    width: fit-content;
    height: fit-content;
    
 }

#inputUrl {
    width: 70%;
    display: inline-block;
}

label {
    font-size: 80%;
    font-weight: 700;
    margin-bottom: 0;
    color: #6f787f;
}
